<!-- /registrations/new -->

	<div class="col-md-6 display-section">
		<h1>A Better Way</h1>
		<p>Some body copy to see what's up in here.</p>
		<hr>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="field">
			<%= f.label :password %>
			<% if @minimum_password_length %>
			<span class="soft">(<%= @minimum_password_length %> characters minimum)</span>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "off" %>
		  </div>

		  <div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, autocomplete: "off" %>
		  </div>

		  <div class="actions">
			<%= f.submit "Sign up" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>

	<div class="col-md-6 navbar-sidenav">
	<nav class="navbar  text-center">
	<!-- Flash alerts for DEVISE authentication -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<!-- 	<i class="logo-icon fa fa-check-square-o fa-5x"></i> -->
	<h2>Take control of your day.</h2>
	<p>Sign up now and organize your life.</p>

	
	</nav>
	</div>
	