<!DOCTYPE html>
<html>
<head>
  <title>FinalTake2</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//use.typekit.net/ozc1cgj.js', 'data-turbolinks-track' => true %>
  <%= javascript_tag "try{Typekit.load({ async: true });}catch(e){}" %>
  <%= csrf_meta_tags %>

</head>
<body>

	<!-- <% unless current_page?('/users/sign_in') || current_page?('/users/sign_up') %>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-right">
				
			</ul>
		</div>
	</nav>

	<% end %> -->



<div class="container-fluid">
	<!-- Flash messages are removed, remember to add to individual views -->
		<%= yield %>

</div>

</body>

<%= javascript_tag "$(function() {
    $( '#entry_target_date' ).datepicker({
    	dateFormat : 'dd/MM/yy',
	    gotoCurrent : true
    	});
  	});" %>
</html>
